<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Staf Manajemen</title>
		<meta name="description" content="PT BPR BKK WONOGIRI (Perseroda) dikelola secara professional memastikan pelayanan yang lebih baik dari waktu ke waktu, nikmati segera kemudahan layanan PT BPR BKK WONOGIRI (Perseroda)" />
		<meta name="keywords" content="Staff Managemen, Direksi PT BPR BKK WONOGIRI (Perseroda), Dewan Pengawas, Pimpinan Cabang" />
		<meta name="author" content="PT BPR BKK WONOGIRI (Perseroda)" />
		<link rel="shortcut icon" href="/images/favicon.png">
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/about-style.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/modernizr.custom.26633.css" />

		
		<!--[if IE]>
  		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
</html>